<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
  </configSections>

  <akka>
    <hocon>
      <![CDATA[
akka {
    loggers = ["Akka.Logger.NLog.NLogLogger, Akka.Logger.NLog"]	
	actor {
        provider = remote	
	}
	
    remote {
        dot-netty.tcp {
            port = 9000
            hostname = "127.0.0.1"
        }
    }	
}
          
      ]]>
    </hocon>
  </akka>
</configuration>