@page "/actor/broadcast"
@using ActorLib.Actors.Test;
@using Akka.Actor;
@using Akka.Routing;
@using BlazorActorApp.Components;
@using BlazorActorApp.Data.Actor;


<PageTitle>broad-cast</PageTitle>

<MudCard>
    <MudCardContent>
        <MudText>broad-casr router actor</MudText>
        <MudText Typo="Typo.body2">메시지를 전체발송 처리합니다.</MudText>
    </MudCardContent>
</MudCard>

<MudNumericField @bind-Value="amount" Label="Count" Variant="Variant.Text" Min="1" Max="1000" />

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="IncrementCount">Add WorkActor</MudButton>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SendHello">Send Hello</MudButton>

<div class="diagram-container">    
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>

<MudText Typo="Typo.h5">SampleCode</MudText>
<MudMarkdown Value="@Value" />

@code {

    // https://blazor-diagrams.zhaytam.com/

    private static System.Timers.Timer aTimer;

    private int amount = 10;

    private int currentCount = 0;

    private BlazorDiagram Diagram { get; set; } = null!;

    private NodeModel RouterNode { get; set; }

    private IActorRef RouterActor { get; set; }

    private IActorRef MonitorActor { get; set; }

    private ActorSystem ActorSystem { get; set; }

    private Dictionary<string, ActorNode> ActorNodes = new Dictionary<string, ActorNode>();

    private void StartTimer()
    {
        aTimer = new System.Timers.Timer(1000);
        aTimer.Elapsed += OnTimer;
        aTimer.Enabled = true;
    }

    public void OnTimer(Object source, System.Timers.ElapsedEventArgs e)
    {        
        // TODO : Improve sync method in real time
        InvokeAsync(SyncCount);        
    }

    protected override async Task OnInitializedAsync()
    {
        // Actor
        ActorSystem = AkkaService.GetActorSystem();        
        RouterActor = AkkaService.GetActor("broadcast");
        MonitorActor = AkkaService.GetActor("broadcastMonitor");

        // UI
        var options = new BlazorDiagramOptions
            {
                AllowMultiSelection = true,
                Zoom =
            {
                Enabled = false,
            },
                Links =
            {
                DefaultRouter = new NormalRouter(),
                DefaultPathGenerator = new SmoothPathGenerator()
            },
            };

        Diagram = new BlazorDiagram(options);

        Diagram.RegisterComponent<ActorNode, ActorWidget>();

        var firstNode = Diagram.Nodes.Add(new NodeModel(position: new Point(50, 50))
            {
                Title = "Akka System"
            });

        var secondNode = Diagram.Nodes.Add(new NodeModel(position: new Point(200, 100))
            {
                Title = "RouterActor"
            });        

        var sourceAnchor = new ShapeIntersectionAnchor(firstNode);
        var targetAnchor = new ShapeIntersectionAnchor(secondNode);

        var link = Diagram.Links.Add(new LinkModel(sourceAnchor, targetAnchor));

        RouterNode = secondNode;

        await SyncNode();

        StartTimer();

    }

    private async Task SyncNode()
    {
        var result = await MonitorActor.Ask(new ActorCountInfoReq());
        var resultInfo = result as ActorCountInfoRes;

        foreach (var actorInfo in resultInfo.MessageCounts)
        {
            string actorName = actorInfo.Key;
            int messageCount = actorInfo.Value;
            AddNode(true, actorName, messageCount);
        }
    }

    private async Task SyncCount()
    {
        var result = await MonitorActor.Ask(new ActorCountInfoReq());
        var resultInfo = result as ActorCountInfoRes;

        foreach (var actorInfo in resultInfo.MessageCounts)
        {
            string actorName = actorInfo.Key;
            int messageCount = actorInfo.Value;

            if (ActorNodes[actorName].MessageCount != messageCount)
            {
                ActorNodes[actorName].MessageCount = messageCount;
                ActorNodes[actorName].RefreshAll();                
            }            
        }
    }

    private void AddNode(bool onlyUI, string nodeName, int messageCount)
    {
        currentCount++;
        string NodeName = nodeName == "auto" ? $"WorkActorB{currentCount}" : nodeName;

        //Create Actor
        if (!onlyUI)
        {
            var workActor = ActorSystem.ActorOf(Props.Create<BasicActor>(), NodeName);
            workActor.Tell(MonitorActor);

            var routee = Routee.FromActorRef(workActor);
            RouterActor.Tell(new AddRoutee(routee));
        }

        //Create UI
        double newX = (currentCount * 250);
        double newY = RouterNode.Position.Y + 150;

        var nextNode = Diagram.Nodes.Add(new ActorNode(position: new Point(newX, newY))
        {
            Title = NodeName,
            MessageCount = messageCount
        });

        ActorNodes[NodeName] = nextNode;

        var sourceAnchor = new ShapeIntersectionAnchor(RouterNode);
        var targetAnchor = new ShapeIntersectionAnchor(nextNode);
        var link = Diagram.Links.Add(new LinkModel(sourceAnchor, targetAnchor));
    }

    private void IncrementCount()
    {
        AddNode(false, "auto", 0);
    }

    private void SendHello()
    {
        if (amount > 0)
        {
            for(int i = 0; i < amount; i++)
            {
                RouterActor.Tell("hello");
            }
        }
    }
}

@code
{
    private string Value { get; } =
            @"
```
// Create ActorSystem
var actorSystem = akkaService.CreateActorSystem();

// Create RoundRobin Router
var broadcast = actorSystem.ActorOf(Props.Create<BasicActor>().WithRouter(new BroadcastPool(0)));

// Create Worker and Add Routee
var workActor = ActorSystem.ActorOf(Props.Create<BasicActor>(), NodeName);
var routee = Routee.FromActorRef(workActor);
broadcast.Tell(new AddRoutee(routee));

// Say Hello
broadcast.Tell(""Hello"");
```
";
}