@page "/actor/mailbox"

@using Blazor.Extensions
@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.WebGL
@using Blazor.Extensions.Canvas.Canvas2D;

<h3>MailBox</h3>
<BECanvas Width="300" Height="400" @ref="_canvasReference" ></BECanvas>

@code {

    //https://swharden.com/blog/2021-01-07-blazor-canvas-animated-graphics/

    private Canvas2DContext _context;

    protected BECanvasComponent _canvasReference;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        this._context = await this._canvasReference.CreateCanvas2DAsync();
        await this._context.SetFillStyleAsync("green");

        await this._context.FillRectAsync(10, 100, 100, 100);

        await this._context.SetFontAsync("48px serif");
        await this._context.StrokeTextAsync("Hello Blazor!!!", 10, 100);
        
    }

}
