@page "/"

<PageTitle>NetCoreLabs</PageTitle>

<h1>소개</h1>

<pre>
NetCore기술을 활용하여 Reactive Stream이라는 주제를 주로다루며

고성능 메시지 분산툴인 AKKA.NET의 메시징 모델을 작동기반 시각화 시도하고 있습니다.
</pre>

<p></p>
<p></p>

<h2>관련 Links</h2>

<ul>
    <li><a href="https://github.com/psmon/NetCoreLabs" target="_blank">이 활동의 코드</a></li>
    <li><a href="https://wiki.webnori.com/display/AKKA" target="_blank">Webnori AKKA 연구소 </a></li>
</ul>




